
.sidebar-wrapper{
    padding: 3px;
}

.sidebar-button{
    width: 137px;
}

.sidebar-tools{
    width: 130px;
    padding: 5px;
}

.sidebar-icon-button{
    width: 65px;
    padding-bottom: 10px;
}

.sidebar-input-textbox{
    width: 60px;
    height: 30px;
}
